package article

import "nurlashko.dev/blog/internal/model"
import "nurlashko.dev/blog/internal/view/layout"

templ ShowIndex(articles []model.Article) {
	@layout.Base("NurlashKO's Blog🐈‍") {
        <div>
            @CreateArticle(false)
            <p style="font-style: italic;margin-bottom:-12px;background-color:#f6f6f6"> Posts </p>
            for i, article := range articles {
                @ArticleRow(article, i == 0)
            }
        </div>
	}
}