package layout

templ Footer() {
    <footer>
        <hr style="border-width: 4px; margin-bottom:0px; border-style:outset;"></hr>
        <div style=" background-color: #f6f6f6">
        <h5 style="margin-bottom:0px; font-size: 18px; font-style:italic; margin-top:0px;text-align:center;">
            Don't Mind Me.. Keep scrolling...</h5>
            <ul id="footer-links">
                <li> <a href="https://github.com/NurlashKO/blog"> Github </a></li>
                <li> <a href="https://grafana.nurlashko.dev"> Grafana </a></li>
                <li> <a href="https://prometheus.nurlashko.dev"> Metric </a></li>
                <li> <a href="https://vault.nurlashko.dev"> Vault </a></li>
                <li> <a href="https://static.nurlashko.dev"> Files </a></li>
                <li> <a href="https://docs.nurlashko.dev"> Docs </a></li>
             </ul>
             <a href="https://htmx.org/essays/#memes">
                 <img style="height: 72px; width: 100%; object-fit: contain"
                      src="https://htmx.org/img/createdwith.jpeg"/>
             </a>
         </div>
    </footer>
}
