package article

import "nurlashko.dev/blog/internal/models"
import "nurlashko.dev/blog/internal/views/layout"

templ ShowIndex(articles []models.Article) {
	@layout.Base("NurlashKO's Blog") {
        <div>
            @CreateArticle(false)
            <p style="font-style: italic;margin-bottom:-12px"> Posts </p>
            for _, article := range articles {
                @ArticleRow(article)
            }
        </div>
	}
}