<html>
<h1>
    Hello World!
</h1>

<li> <b>Blog:</b> <a href="https://blog.nurlashko.dev"> https://blog.nurlashko.dev </a> </li>
<li> <b>Source Code:</b> <a href="https://github.com/NurlashKO/blog"> https://github.com/NurlashKO/blog </a> </li>
<li> <b>Documentation:</b> <a href="https://docs.nurlashko.dev"> https://docs.nurlashko.dev</a> </li>
<li> <b>Grafana:</b> <a href="https://grafana.nurlashko.dev"> https://grafana.nurlashko.dev </a> </li>
<li> <b>Prometheus:</b> <a href="https://prometheus.nurlashko.dev"> https://prometheus.nurlashko.dev </a> </li>
<li> <b>Vault:</b> <a href="https://vault.nurlashko.dev"> https://vault.nurlashko.dev </a> </li>

</html>