<html>
<h1>
    Hello World!
</h1>

<li> <b>Source Code:</b> <a href="https://github.com/NurlashKO/blog"> https://github.com/NurlashKO/blog </a> </li>
<li> <b>Documentation:</b> <a href="https://docs.nurlashko.de"> https://docs.nurlashko.de</a> </li>
<li> <b>Grafana:</b> <a href="https://grafana.nurlashko.de"> https://grafana.nurlashko.de </a> </li>
<li> <b>Prometheus:</b> <a href="https://prometheus.nurlashko.de"> https://prometheus.nurlashko.de </a> </li>
<li> <b>Vault:</b> <a href="https://vault.nurlashko.de"> https://vault.nurlashko.de </a> </li>

</html>