name: Auth CI

on:
  push:
    paths:
      - 'microservices/auth/**'
  workflow_dispatch:
env:
  MICROSERVICE: auth
jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: 'actions/checkout@v4'
      - name: Setup Docker Credentials
        uses: 'NurlashKO/blog/.github/actions/build-push@main'
        with:
          microservice: ${{ env.MICROSERVICE }}
