name: vault CI

on:
  push:
    paths:
      - 'microservices/vault/**'
  workflow_dispatch:
env:
  MICROSERVICE: vault
jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: 'actions/checkout@v4'
      - name: Build and Push Docker Image
        uses: 'NurlashKO/blog/.github/actions/build-push@main'
        with:
          microservice: ${{ env.MICROSERVICE }}
          repoflow_pwd: ${{ secrets.REPOFLOW_PWD }}
